<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title>msgboard login</title>
  </head>
  <body>
    <h2>Login</h2>
    <table>
      <form action="../cgi-bin/msg_login.rb" method="post">
        <tr>
          <td>ID: </td>
          <td><input name="id" type="text" value=""/></td>
        </tr>
        <tr>
          <td>PASSWORD: </td>
          <td><input name="pass" type="password" value=""/></td>
        </tr>
        <tr>
          <td></td>
          <td><input name="" type="submit" value="send"/></td>
        </tr>
      </form>
    </table>
  </body>
</html>
